@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Manrope", sans-serif;
  height: 100vh;
}

.circles {
  position: absolute;
  left: 45%;
  top: 5%;
}

.heading-text {
  z-index: 3;
  position: absolute;
  left: 35%;
  top: 10%;
  text-align: center;
}
.heading-text h1 {
  font-style: normal;
  font-weight: 800;
  font-size: 28px;
  line-height: 38px;
  letter-spacing: 0;
  text-transform: none;
  color: #293356;
}
.heading-text h2 {
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: 0;
  text-transform: none;
  color: #848EAD;
}

.background {
  z-index: 1;
  width: 100vw;
  height: 449px;
  border-radius: 0px 0px 0px 191.5px;
  background-color: #F1F5FE;
}

.container {
  padding: 10px 0;
  width: 100%;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: min(80%, 540px);
  height: 397px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
  background: #FFFFFF;
  box-shadow: 0px 20px 30px -5px rgba(127, 137, 185, 0.152073);
  border-radius: 8px;
}
.container #price-range {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  cursor: pointer;
  width: 15rem;
  background-color: #ECF0FB;
  border-radius: 5px;
  height: 8px;
}
.container #price-range::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 40px;
  height: 40px;
  background-color: #10D8C4;
  border-radius: 50%;
  box-shadow: 0px 15px 30px rgba(0, 255, 231, 0.6);
}
.container .container-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
}
.container .container-header .views-count-container {
  color: #848EAD;
  font-style: normal;
  font-weight: 800;
  font-size: 14px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.container .container-header .price-container {
  color: #848EAD;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  letter-spacing: 0;
  text-transform: none;
}
.container .container-header .price-container .price-placeholder {
  font-style: normal;
  font-weight: 800;
  font-size: 40px;
  line-height: 55px;
  text-align: right;
  letter-spacing: -1px;
  text-transform: none;
  color: #293356;
}
.container #price-range {
  width: 80%;
}
.container .billing-container {
  position: relative;
  width: 70%;
  height: 40%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container .billing-container .toogle-switched {
  padding: 1px 21px;
}
.container .billing-container .toogle-unswitched {
  padding: 1px 1px;
}
.container .billing-container .switch-button {
  width: 43px;
  height: 22px;
  cursor: pointer;
  border-radius: 15px;
  background-color: #CFD8EF;
}
.container .billing-container .switch-button .toogle {
  display: block;
  width: 20px;
  height: 20px;
  background-color: #FFFFFF;
  border-radius: 50%;
}
.container .billing-container .switch-button:hover {
  background-color: #10D8C4;
}
.container .billing-container .Monthly-blling-container,
.container .billing-container .Yearly-billing-container {
  color: #848EAD;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0;
  text-transform: none;
}
.container .billing-container .discount {
  background-color: #FEEDE8;
  color: #FF8D68;
  padding: 10px;
  font-style: normal;
  font-weight: 800;
  font-size: 10px;
  line-height: 14px;
  text-align: center;
  letter-spacing: 0;
  text-transform: none;
  border-radius: 9.5px;
}
.container .line {
  height: 3px;
  width: 100%;
  background-color: #CFD8EF;
}

.bottom-content {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 0;
}
.bottom-content .list ul li {
  display: flex;
  gap: 10px;
  list-style: none;
  color: #848EAD;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0;
  text-transform: none;
}
.bottom-content button {
  background-color: #293356;
  color: #BECDFF;
  border-radius: 20.5px;
  border: none;
  font-style: "normal";
  font-weight: 800;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0;
  text-transform: none;
  width: 170px;
  height: 41px;
}

@media only screen and (max-width: 600px) {
  .circles {
    position: absolute;
    left: 30%;
    top: 5%;
  }
  .heading-text {
    position: absolute;
    left: 5%;
    top: 10%;
    text-align: center;
  }
  .heading-text h1 {
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 27.32px;
    letter-spacing: 0;
    text-transform: none;
    color: #293356;
  }
  .heading-text h2 {
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 23px;
    letter-spacing: 0;
    text-transform: none;
  }
  .bottom-content {
    flex-direction: column;
    gap: 5px;
  }
}

/*# sourceMappingURL=styles.css.map */
