@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Manrope", sans-serif;
  height: 100vh;
}

.background {
  z-index: 1;
  width: 100vw;
  height: 449px;
  border-radius: 0px 0px 0px 191.5px;
  background-color: #F1F5FE;
}

.container {
  padding: 10px 0;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: min(80%, 540px);
  height: 397px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
  background: #FFFFFF;
  box-shadow: 0px 20px 30px -5px rgba(127, 137, 185, 0.152073);
  border-radius: 8px;
}
.container .container-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
}
.container .container-header .views-count-container {
  color: #848EAD;
  font-style: normal;
  font-weight: 800;
  font-size: 14px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.container .container-header .price-container {
  font-style: normal;
  font-weight: 800;
  font-size: 40px;
  line-height: 55px;
  text-align: right;
  letter-spacing: -1px;
  text-transform: none;
}
.container .container-header .price-container span {
  color: #848EAD;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  letter-spacing: 0;
  text-transform: none;
}
.container #price-range {
  width: 80%;
}
.container .billing-container {
  position: relative;
  width: 70%;
  height: 40%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container .billing-container .switch-button {
  width: 43px;
  height: 22px;
  cursor: pointer;
  border-radius: 15px;
  background-color: #CFD8EF;
  padding: 1px 1px;
}
.container .billing-container .switch-button .toogle {
  display: block;
  width: 20px;
  height: 20px;
  background-color: #FFFFFF;
  border-radius: 50%;
}
.container .billing-container .Monthly-blling-container, .container .billing-container .Yearly-billing-container {
  color: #848EAD;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0;
  text-transform: none;
}
.container .billing-container .discount {
  background-color: #FEEDE8;
  color: #FF8D68;
  padding: 10px;
  font-style: normal;
  font-weight: 800;
  font-size: 10px;
  line-height: 14px;
  text-align: center;
  letter-spacing: 0;
  text-transform: none;
  border-radius: 9.5px;
}
.container .line {
  height: 3px;
  width: 100%;
  background-color: #CFD8EF;
}

.bottom-content {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.bottom-content .list ul li {
  display: flex;
  gap: 10px;
  list-style: none;
  color: #848EAD;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0;
  text-transform: none;
}
.bottom-content button {
  background-color: #293356;
  color: #BECDFF;
  border-radius: 20.5px;
  font-style: "normal";
  font-weight: 800;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0;
  text-transform: none;
  width: 170px;
  height: 41px;
}

/*# sourceMappingURL=styles.css.map */
