$selago:#F1F5FE;
$white:#FFFFFF;
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@mixin centerContainer(){
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
@mixin setDimensions($x,$y){
    width: $x;
    height: $y;
}
body{
    height: 100vh;
}
.background {
    z-index: 1;
    // position: absolute;
    @include setDimensions(100vw,449px);
    border-radius: 0px 0px 0px 191.5px;
    background-color: $selago;
}

.container {
    @include centerContainer();
    @include setDimensions(min(80%,540px),397px);
    z-index: 2;
    background:$white;
    box-shadow: 0px 20px 30px -5px rgba(127, 137, 185, 0.152073);
    border-radius: 8px;

}