@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
$selago: #F1F5FE;
$link-Water: #CFD8EF;
$water-color: #ECF0FB;
$color-gray: #848EAD;
$clr-dark: #293356;
$clr-orange: #FEEDE8;
$clr-text-orange: #FF8D68;
$clr-purple: #293356;
$clr-light-purple: #BECDFF;
$clr-price-range: #ECF0FB;
$white: #FFFFFF;
$clr-light-green: #A4F3EB;
$clr-color-green: #10D8C4;
$clr-cyan: #7AEADF;
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@mixin centerContainer() {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@mixin centerDiv() {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

@mixin alignContainer() {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@mixin setDimensions($x, $y) {
    width: $x;
    height: $y;
}

@mixin textStyle($fontStyle, $fontWeight, $fontSize, $lineHeight, $textAlign, $letterSpacing, $textTransform) {
    font-style: $fontStyle;
    font-weight: $fontWeight;
    font-size: $fontSize;
    line-height: $lineHeight;
    text-align: $textAlign;
    letter-spacing: $letterSpacing;
    text-transform: $textTransform;
}

body {
    font-family: "Manrope", sans-serif;
    height: 100vh;
}

.background {
    z-index: 1;
    // position: absolute;
    @include setDimensions(100vw, 449px);
    border-radius: 0px 0px 0px 191.5px;
    background-color: $selago;
}

.container {
    padding: 10px 0;
    width: 100%;
    @include centerContainer();
    @include setDimensions(min(80%, 540px), 397px);
    @include centerDiv();
    z-index: 2;
    background: $white;
    box-shadow: 0px 20px 30px -5px rgba(127, 137, 185, 0.152073);
    border-radius: 8px;

    #price-range {
        -webkit-appearance: none;
        appearance: none;
        background: transparent;
        cursor: pointer;
        width: 15rem;
        background-color: $clr-price-range;
        border-radius: 5px;
        height: 8px;
    }

    #price-range::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        @include setDimensions(40px,40px);
        background-color: $clr-color-green;
        border-radius: 50%;
        box-shadow: 0px 15px 30px rgba(0, 255, 231, 0.6);
    }

    .container-header {
        @include alignContainer();
        width: 90%;

        .views-count-container {
            color: $color-gray;
            @include textStyle(normal, 800, 14px, 19px, center, 2px, uppercase);
        }

        .price-container {
            color: $color-gray;
            @include textStyle(normal, 600, 10px, 16px, center, 0, none);


            .view-container{
                color: $color-gray;
                @include textStyle(normal, 600, 16px, 22px, center, 0, none);
            }

        }
    }

    #price-range {
        width: 80%;
    }

    .billing-container {
        position: relative;
        width: 70%;
        height: 40%;
        @include alignContainer();
        .toogle-switched{
            padding: 1px 21px;
        }
        .toogle-unswitched{
            padding: 1px 1px;
        }
        .switch-button {
            @include setDimensions(43px, 22px);
            cursor: pointer;
            border-radius: 15px;
            background-color: $link-Water;

            .toogle {
                display: block;
                @include setDimensions(20px, 20px);
                background-color: $white;
                border-radius: 50%;
            }
        }
        .switch-button:hover{
            background-color: $clr-color-green;
        }

        .Monthly-blling-container,
        .Yearly-billing-container {
            color: $color-gray;
            @include textStyle(normal, 600, 12px, 16px, center, 0, none);
        }

        .discount {
            background-color: $clr-orange;
            color: $clr-text-orange;
            padding: 10px;
            @include textStyle(normal, 800, 10px, 14px, center, 0, none);
            border-radius: 9.5px;
        }
    }

    .line {
        height: 3px;
        width: 100%;
        background-color: $link-Water;
    }
}

.bottom-content {
    width: 80%;
    @include alignContainer();

    .list {
        ul li {
            display: flex;
            gap: 10px;
            list-style: none;
            color: $color-gray;
            @include textStyle(normal, 600, 12px, 16px, null, 0, none);
        }
    }

    button {
        background-color: $clr-dark;
        color: $clr-light-purple;
        border-radius: 20.5px;
        @include textStyle('normal', 800, 12px, 16px, center, 0, none);
        @include setDimensions(170px, 41px);
    }
}